body {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  outline: none !important;
}
.container {
  width: 100%;
  max-width: 1600px;
  padding: 0px 15px;
  margin: 0px auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px -15px;
  width: 100%;
}
.col {
  padding: 0px 15px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  width: 100%;
}
.main-h2 {
  font-weight: 400;
  font-size: 48px;
  color: #333333;
  line-height: 65px;
  margin: 0px;
  padding-left: 4px;
}
